<template>
  <tr>
    <td>{{ user1.date }}</td>
    <td>{{ user1.description }}</td>
    <td>{{ user1.starttime }}</td>
    <td>{{ user1.endtime }}</td>
  </tr>
</template>
<script>
export default {
  name: "ReserveAppointmentitem",
  components: {},
  props: {
    user1: {
      propType: Object,
      required: true
    }
  },
  data() {
    return {};
  },

  methods: {}
};
</script>
