<template>
  <div id="app">
    <Header v-if="screen" @login="login" />
    <Login
      v-if="screen === 'Login'"
      @emitvalidemail="validemail"
      @registrarme="registrarme"
    />
    <SignUp v-if="screen === 'SignUp'" @accept="singing" />
    <ReserveAppointment
      v-if="screen === 'ReserveAppointment'"
      :user1="arrayuser1"
      @confermappointment="reservenewmappointment"
    />
    <HomePage v-if="screenHome" />
    <Footer />
  </div>
</template>
<script>
import Header from "@/components/Header.vue";
import Login from "@/components/Login.vue";
import ReserveAppointment from "@/components/ReserveAppointment.vue";
import SignUp from "@/components/SignUp.vue";
import HomePage from "@/components/HomePage.vue";
import Footer from "@/components/Footer.vue";
export default {
  name: "App",
  data() {
    return {
      URL1: "http://localhost:3000/user1",
      URL2: "http://localhost:3000/user2",
      screen: "Header",
      screenHome: true,
      arrayuser1: []
    };
  },

  components: {
    Header,
    Login,
    ReserveAppointment,
    SignUp,
    HomePage,
    Footer
  },

  created() {
    this.callApiuser1();
  },

  methods: {
    async callApiuser1() {
      const result = await fetch(this.URL1);
      const data = await result.json();
      this.arrayuser1 = data;
    },

    login() {
      this.screenHome = false;
      this.screen = "Login";
    },

    registrarme() {
      this.screen = "SignUp";
      console.log("moha");
    },
    /*  validemail() {
      this.screen = "ReserveAppointment";
      console.log("moha");
    }, */
    async reservenewmappointment(date, description, starttime, endtime) {
      if (
        date == null ||
        description == null ||
        starttime == null ||
        endtime == null
      ) {
        alert("Escribir informacion");
      } else {
        await fetch(this.URL1, {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            date: date,
            description: description,
            starttime: starttime,
            endtime: endtime
          })
        })
          .then(response => response.json())
          .catch(error => console.error("Error:", error))
          .then(response => console.log("Success:", response));
        alert(
          "welcom to Peñascal barbershop your appointment has been regestred"
        );
        this.callApiuser1();
      }
    },
    async singing(username, email, password, validaRepetirPassword) {
      if (
        username == null ||
        email == null ||
        password == null ||
        validaRepetirPassword == null
      ) {
        alert("Escribir informacion");
      } else {
        await fetch(this.URL2, {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            username: username,
            email: email,
            password: password,
            validaRepetirPassword: validaRepetirPassword
          })
        })
          .then(response => response.json())
          .catch(error => console.error("Error:", error))
          .then(response => console.log("Success:", response));
        alert("welcom to Peñascal barbershop");
        this.login();
      }
    },
    validemail(email, password) {
      if (email == null || password == null) {
        alert("Enter the email and password!");
      } else {
        this.screen = "ReserveAppointment";
        console.log("hola3");
      }
    }
  }
};
</script>

<style></style>
